.trust {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 780px;
  padding: 40px 90px;
  gap: 64px;
}

.trust_main_wrap {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.trust > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1280px;
  height: 61px;
  font-family: Onest;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
}

.trust_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1260px;
  height: auto;
  overflow: hidden;
}

.trust_wrap ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: max-content;
  height: 363px;
  transition: 200ms;
}

.trust_left,
.trust_right,
.trust_card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 265px;
  border-radius: 16px;
  background: #5368a766;
  color: #303058;
  transition: 200ms;
  cursor: pointer;
}

.trust_left:hover,
.trust_right:hover {
  background: #5368a7b2;
}

.trust_center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 276px;
  top: -56px;
  padding: 44.35px 39px 43.65px 39px;
  gap: 24px;
  border-radius: 16px;
  background: #5368a7;
  transition: 200ms;
  z-index: 999;
}

.trust_left > div:last-child,
.trust_right > div:last-child,
.trust_card > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 180px;
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.trust_center > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 180px;
  font-size: 20px;
  color: #ffffff;
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.trust_logo_wrap {
  position: absolute;
  top: -29px;
  width: 280px;
  height: 56px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #5368a7b2;
  background: #ffffff;
  z-index: 997;
}

@media (max-width: 1260px) {
  .trust {
    height: auto;
    padding: 40px;
    gap: 50px;
  }

  .trust > div:first-child {
    width: 100vw;
    height: auto;
    font-size: 24px;
    line-height: 30px;
  }

  .trust_wrap {
    width: 52vw;
  }

  .trust_wrap ul {
    justify-content: center;
  }

  .trust_wrap li {
    margin: 0 1vw;
  }

  .rust_card > div:last-child {
    width: 70%;
    height: auto;
  }

  .trust_left,
  .trust_right {
    display: none;
  }

  .trust_card {
    width: 50vw;
    height: 40vh;
    top: 0;
  }

  .trust_btn_right,
  .trust_btn_left {
    background: transparent;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: #303058;
    padding: 10px;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .trust_wrap ul {
    align-items: center;
  }
}

@media (max-width: 849px) {
  .trust_wrap {
    width: 82vw;
  }

  .trust_left,
  .trust_right {
    display: none;
  }

  .trust_card {
    width: 80vw;
    height: 40vh;
    top: 0;
  }

  .trust_carddiv:last-child {
    white-space: normal;
    word-wrap: break-word;
  }

  .trust_btn_right,
  .trust_btn_left {
    width: 5vw;
    height: 5vh;
  }
}
