.about_fond {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 919px;
  padding: 40px 90px;
  gap: 40px;
}

.about_fond > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1260px;
  height: 61px;
  font-family: Onest;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
}

.about_fond > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 166px;
  gap: 24px;
}

.about_fond > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 281px;
  height: 166px;
}

.about_fond > ul > li > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 281px;
  height: 80px;
  font-family: Bitter;
  font-size: 80px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.about_fond > ul > li > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 281px;
  height: 86px;
  font-family: Onest;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.about_fond_team {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 305px;
}

.about_fond_team > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 1146px;
}

.about_fond_team > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1260px;
  margin: 0 auto;
  height: 61px;
  font-family: Onest;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.about_fond_wrap {
  overflow: hidden;
  width: 930px;
}

.about_fond_wrap > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 232px;
}

.about_fond_wrap > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 162px;
  height: 212px;
  padding: 16px 0px 0px 0px;
  gap: 8px;
  border-radius: 16px;
  margin: 0 12px;
  background: #5368a766;
}

.about_fond_team > div:nth-of-type(2) > button {
  background: transparent;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #303058;
  padding: 10px;
  position: relative;
  width: 80px;
  height: 80px;
}

.about_fond_team img {
  border-radius: 16px;
  object-fit: cover;
}

.about_fond_team img:last-child {
  border-radius: 16px;
  object-fit: cover;
}

.about_fond_card {
  width: 162px;
  height: 92px;
  padding: 8px;
  gap: 4px;
  border-radius: 16px;
  background: #5368a7b2;
}

.about_fond_card > div:first-child {
  width: 151px;
  height: 24px;
  font-family: Onest;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.about_fond_card > div:last-child {
  width: 140px;
  height: 48px;
  font-family: Onest;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.about_fond_last {
  position: relative;
  width: 1260px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: Onest;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.about_fond_last > ul {
  width: 734px;
  height: 118px;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Onest;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.about_fond_last > ul > li {
  position: relative;
  width: 218px;
  height: 118px;
  gap: 8px;
  border-radius: 16px;
  overflow: hidden;
}

.about_fond_last > ul > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff99;
  opacity: 0;
  transition: opacity 300ms ease;
  z-index: 1;
}

.about_fond_last > ul > li:hover::before {
  opacity: 0.9;
}

.about_fond_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 202px;
  height: 102px;
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: auto;
  color: #303058;
  transition: 300ms;
  z-index: 2;
}

.about_img_wrap {
  position: relative;
  width: 104px;
  height: 104px;
}

@media (max-width: 1024px) {
  .about_fond {
    height: auto;
    padding: 20px;
    gap: 40px;
  }

  .about_fond > div:first-child {
    width: 100vw;
    font-size: 24px;
    line-height: 30px;
  }

  .about_fond > ul {
    width: auto;
    height: auto;
    gap: 24px;
  }

  .about_fond > ul > li {
    width: auto;
    height: auto;
  }

  .about_fond > ul > li > div:first-child {
    width: auto;
    font-size: 60px;
  }

  .about_fond > ul > li > div:last-child {
    width: auto;
    font-size: 18px;
    line-height: 26px;
  }

  .about_fond_team {
    height: auto;
  }

  .about_fond_team > div:first-child {
    width: 100vw;
    font-size: 24px;
    line-height: 30px;
  }

  .about_fond_team > div:nth-of-type(2) {
    width: 81vw;
  }

  .about_fond_team > div:nth-of-type(2) > button {
    width: 50px;
    height: 50px;
  }

  .about_fond_wrap {
    width: 66vw;
  }

  .about_fond_wrap > ul > li {
    width: 20vw;
    height: auto;
    margin: 0 1vw;
  }

  .about_fond_card > div:first-child {
    width: 18vw;
  }

  .about_fond_card > div:last-child {
    width: 18vw;
  }

  .about_fond_card {
    width: 100%;
    padding: 1vw;
  }

  .about_fond_team > div:nth-of-type(2) > button {
    width: 5vw;
    height: 5vh;
  }

  .about_fond_last {
    width: 100vw;
    height: auto;
    font-size: 24px;
    line-height: 40px;
  }

  .about_fond_last > ul {
    width: 90vw;
    height: auto;
    gap: 40px;
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .about_fond {
    gap: 20px;
    padding: 0 20px 20px 20px;
  }

  .about_fond > ul {
    gap: 10px;
  }

  .about_fond_card {
    padding: 3vw 1vw;
  }

  .about_fond > ul > li > div:first-child {
    font-size: 32px;
    height: 40px;
  }

  .about_fond > ul > li > div:last-child {
    font-size: 14px;
    line-height: 20px;
  }

  .about_fond_last > ul {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about_fond_team > div:nth-of-type(2) {
    width: 100vw;
  }

  .about_fond > ul > li > div:first-child {
    font-size: 26px;
    height: 40px;
  }

  .about_fond > ul > li > div:last-child {
    font-size: 12px;
    line-height: 20px;
    height: 75px;
  }

  .about_fond_wrap {
    width: 90vw;
  }

  .about_fond_card > div:last-child,
  .about_fond_card > div:first-child {
    width: 26vw;
    font-size: 12px;
    line-height: 12px;
  }

  .about_fond_card > div:first-child {
    font-size: 14px;
  }

  .about_fond_wrap > ul > li {
    width: 28vw;
  }
}

@media (max-width: 450px) {
  .about_img_wrap {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .about_fond_card {
    height: 70px;
  }
}

@media (max-width: 450px) {
  .about_img_wrap {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .about_fond_card {
    height: 70px;
  }
}

@media (max-width: 400px) {
  .about_fond_card > div:last-child {
    font-size: 10px;
  }

  .about_fond_card > div:first-child {
    font-size: 12px;
  }
}
