.house {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 919px;
}

.house > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1260px;
  height: 61px;
  font-family: Onest;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
  margin-bottom: 37px;
}

.house > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 1260px;
}

.house > ul > li:first-child {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 344px;
  height: 351px;
  font-family: Onest;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.house > ul > li:nth-of-type(2) {
  position: relative;
  width: 532px;
  height: 445px;
}

.house > ul > li:last-child {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 328px;
  height: 641px;
}

.house > ul > li:last-child > div:first-child {
  position: absolute;
  left: 0;
  width: 182px;
  height: 182px;
}

.house > ul > li:last-child > div:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 28%;
  width: 205px;
  height: 205px;
}

.house > ul > li:last-child > div:last-child {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 231px;
  height: 235px;
}

.house > ul > li > img {
  object-fit: contain;
}

.house > ul > li > div img {
  object-fit: cover;
  border-radius: 50%;
  transition: transform 2s ease, opacity 2s ease;
}

.house > ul > li > div img {
  animation: change 2s forwards;
}

@keyframes change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .house {
    width: 100vw;
    height: auto;
  }

  .house > ul {
    flex-direction: column;
    width: 90vw;
  }

  .house > ul > li:last-child {
    display: none;
  }

  .house > ul > li:first-child {
    width: 100%;
    height: auto;
    font-size: 20px;
    line-height: 24px;
  }

  .house > div:first-child {
    width: 90vw;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .house > ul > li:nth-of-type(2) {
    width: 90vw;
    height: 90vh;
  }
}

@media (max-width: 768px) {
  .house > ul > li:nth-of-type(2) {
    width: 90vw;
    height: 90vh;
  }

  .house > ul > li:first-child {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .house > ul > li:nth-of-type(2) {
    height: 50vh;
  }
}
