.ukr_map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 40px 90px;
}

.ukr_map div:first-child {
  font-family: Onest;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
}

.ukr_map_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1260px;
  height: 352px;
  gap: 48px;
  margin: 64px 0;
}

.ukr_map_wrap > div:first-child {
  position: relative;
  width: 500px;
  height: 331px;
}

.ukr_map_wrap ul {
  width: 712px;
  height: auto;
  gap: 24px;
}

.ukr_map_wrap ul li {
  font-family: Onest;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  color: #303058;
}

.ukr_map_last {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 222px;
  gap: 40px;
}

.ukr_map_last div {
  font-family: Onest;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.ukr_map_last ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1258px;
  height: 150px;
}

.ukr_map_last ul li {
  position: relative;
  width: 265px;
  height: 150px;
  padding: 0px;
  border-radius: 16px;
  background-image: url(/video.png.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.ukr_map_last ul > li > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activeButton,
.defaultButton {
  background-size: cover;
  background-repeat: no-repeat;
  width: 28.81px;
  height: 29.13px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.defaultButton {
  background-image: url(/play.png.webp);
}

.activeButton {
  background-image: url(/pause.png.webp);
}
