.ukr_map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 1260px;
  height: auto;
  margin: auto;
  padding: 5px 0;
}

.ukr_map div:first-child {
  font-family: Onest;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
}

.ukr_map div:first-child > div {
  text-align: start !important;
  /* margin-top: 30px; */
}

.ukr_map_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1260px;
  /* height: 352px; */
  gap: 48px;
  margin: 48px 0 80px 0;
}

.ukr_map_wrap > div:first-child {
  position: relative;
  width: 659px;
  height: 693px;
}

.ukr_map_wrap ul {
  width: 553px;
  height: auto;
  gap: 24px;
}

.ukr_map_wrap ul li {
  font-family: Onest;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 32px;
  color: #393186;
}

.ukr_map_wrap ul li:first-child {
  margin-top: 50px;
  /* margin-bottom: 42px; */
}

.ukr_map_wrap ul li:nth-last-child(2) {
  font-family: Onest;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: -20px;
  margin-bottom: 32px;
  color: #393186;
}

.title {
  font-family: Onest;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 2%;
  vertical-align: middle;
}

.descr {
  font-family: Onest;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #5368a7;
}

.description_attention {
  font-family: Onest;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #393186;
}

.ukr_map_last {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: 222px; */
  gap: 80px;
}

.ukr_map_last div {
  font-family: Onest;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #393186;
}

.ukr_map_last ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1258px;
  height: 150px;
}

.ukr_map_last ul li {
  position: relative;
  width: 265px;
  height: 150px;
  padding: 0px;
  border-radius: 16px;
  background-image: url(/video.png.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.ukr_map_last ul > li > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activeButton,
.defaultButton {
  background-size: cover;
  background-repeat: no-repeat;
  width: 28.81px;
  height: 29.13px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.defaultButton {
  background-image: url(/play.png.webp);
}

.activeButton {
  background-image: url(/pause.png.webp);
}

.trust_close {
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 6px;
  right: 44px;
  top: 44px;
  cursor: pointer;
  background: none;
  border: none;
}

.img {
  object-fit: cover;
  object-position: top -35px right 0px;
  border-radius: 16px;
}

.img_one {
  object-position: top -65px right 0px;
}

.video_wrap {
  height: 100%;
}

@media (max-width: 1024px) {
  .ukr_map_last {
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
  }

  .ukr_map_last ul {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
  }

  .ukr_map_wrap {
    flex-direction: column;
    width: 100vw;
    height: auto;
    gap: 30px;
    margin: 10px 0;
  }

  .ukr_map_wrap > div:first-child {
    position: relative;
    width: 80vw;
    height: auto;
  }

  .ukr_map_wrap > div:first-child img {
    position: relative !important;
  }

  .ukr_map_wrap ul {
    width: 90vw;
    height: auto;
  }

  .ukr_map_wrap ul li {
    font-size: 18px;
    line-height: 30px;
  }

  .ukr_map div:first-child {
    width: 90vw;
    font-size: 22px;
    line-height: 30px;
  }
  .video_wrap {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .ukr_map {
    padding: 0px 0px;
  }

  .ukr_map_last {
    gap: 30px;
  }

  .trust_close {
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
  }

  .ukr_map div:first-child {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
}

@media (max-width: 529px) {
  .ukr_map_wrap ul li:not(:last-child) {
    margin-bottom: 20px;
  }
  .ukr_map_last ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 639px) {
  .video_wrap {
    height: 570px;
  }

  .ukr_map_last ul {
    display: flex;
    flex-direction: column;
  }

  .ukr_map_wrap {
    margin: 0;
  }
}
