.header {
  position: relative;
  width: 100%;
  height: 105px;
  padding: 19px 32px;
  background: #303058;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  /* width: 44%; */
  height: 60px;
  transition: 200ms;
}

.buttons button {
  position: relative;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  font-family: Onest, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  transition: color 0.2s;
}

.buttons button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: #ffffff;
  transition: width 0.2s ease;
}

.buttons button:hover::after {
  width: 100%;
}

.header > div:first-child {
  position: relative;
  width: 180px;
  height: 60px;
}

.header_lang {
  display: flex;
  width: 394px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_lang ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 104px;
  height: 60px;
  gap: 12px;
}

.header_lang ul li button {
  width: 40px;
  height: 60px;
  font-family: Onest;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.header_lang ul li button:hover {
  color: #c8c8c8;
}

.header_lang ul li:nth-of-type(2) {
  border: 1px solid #ffffff;
  height: 48px;
}

.header_burger {
  display: none;
}

@media (max-width: 1350px) {
.buttons {
  width: 44%;
}
.buttons button {
  font-size: 22px;
}
}

@media (max-width: 1024px) {
  .header_lang {
    width: auto;
    order: 2;
  }

  .header_lang ul {
    margin-left: 10px;
    width: auto;
    height: 50px;
    gap: 5px;
  }

  .header_lang ul li button {
    font-size: 20px;
  }

  .header > div:first-child {
    order: 1;
  }

  .buttons,
  .buttons.activeMenu {
    order: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    top: 100%;
    left: -100%;
    padding: 0 50px;
    width: max-content;
    height: max-content;
    background: #303058;
    padding: 20px 100px;
    z-index: 1000;
    transition: 500ms;
  }

  .buttons.activeMenu {
    left: 0;
  }

  .header_burger {
    display: block;
  }

  .burgerIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: inherit;
    border: 0;
  }

  .burgerIcon.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
  }

  .burgerIcon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burgerIcon.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -10px);
  }

  .bar {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: #ebbc09;
    margin: 5px 0;
    transition: 0.4s;
  }

  .burgerIcon:active div,
  .burgerIcon:hover div {
    background: #ebbc09;
  }

  .buttons button,
  .buttons.activeMenu button {
    margin: 10px 0;
    text-align: left;
  }
}

@media (max-width: 579px) {
  .header > div:first-child {
    display: none;
  }

  .buttons,
  .buttons.activeMenu {
    width: 100vw;
    padding: 20px 0;
  }
}

@media (max-width: 385px) {
  .header > div:first-child {
    display: none;
  }

  .buttons,
  .buttons.activeMenu {
    width: 100vw;
  }
}
