.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 260px;
  padding: 40px 57px 40px 57px;
  gap: 80px;
  background: #393186;
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin-top: -45px;
}

.footer_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_main div:nth-of-type(1) {
  position: relative;
  width: 180px;
  height: 60px;
}

.footer_main div:nth-of-type(2) {
  width: 571px;
  height: 60px;
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer > div:nth-of-type(2) > a {
  display: flex;
  justify-content: center;
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.footer > div:nth-of-type(2) div {
  position: relative;
  width: 24px;
  height: 24px;
}

.footer > div:nth-of-type(2) img {
  margin: 0 8px;
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 0px;
  }

  .footer_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_main div:nth-of-type(2) {
    text-align: justify;
    margin-top: 24px;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .footer_main div:nth-of-type(2) {
    margin-bottom: 100px;
  }

  .footer_main div:nth-of-type(2) {
    width: 100%;
    max-width: 446px;
    min-width: 340px;
  }

  .footer > div:nth-of-type(2) > a {
    font-size: 12px;
    margin-top: -30px;
  }
}
