.help_describe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 1241px;
  padding: 40px 90px;
  gap: 80px;
}

.help_describe > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1260px;
  height: 339px;
  font-family: Onest;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
}

.help_describe > div:first-child ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1109px;
  height: 214p;
  gap: 40px;
}

.help_describe > div:first-child ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 343px;
  height: 214px;
  gap: 8px;
}

.help_describe > div:first-child ul li div:first-child {
  position: relative;
  width: 120px;
  height: 120px;
}

.help_describe > div:first-child ul li div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
  height: 86px;
  font-family: Onest;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.help_describe > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 1260px;
  height: 355px;
  padding: 66px 64px;
  gap: 8px;
  border-radius: 16px;
  background: #5368a7b2;
  font-family: Onest;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.help_middle_block {
  display: flex;
  flex-direction: column;
  max-width: 1174px;
  height: auto;
  gap: 24px;
}

.help_middle_block > div:first-child {
  min-height: 183px;
  font-family: Onest;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
}

.help_middle_block > div:last-child {
  min-height: 105px;
  font-family: Onest;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

@media (max-width: 1024px) {
  .help_describe > div:first-child {
    width: 90vw;
    height: auto;
    font-size: 24px;
    line-height: 60px;
  }

  .help_middle_block,
  .help_middle_block > div:first-child,
  .help_middle_block > div:last-child .help_describe > div:first-child ul {
    width: 100%;
    height: auto;
  }

  .help_describe > div:first-child ul li {
    width: max-content;
    height: auto;
  }

  .help_describe > div:first-child ul li div:last-child {
    width: auto;
    height: 50px;
    font-size: 24px;
  }

  .help_describe > div:first-child ul li div:last-child {
    width: auto;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .help_describe {
    height: auto;
  }

  .help_describe > div:last-child {
    width: 90vw;
    height: auto;
    font-size: 20px;
    line-height: 30px;
  }

  .help_middle_block > div:first-child {
    font-size: 24px;
    line-height: 30px;
  }

  .help_middle_block > div:last-child {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {

  .help_describe {
    padding: 40px 20px;
  }

  .help_describe > div:first-child ul {
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 12px;
  }

  .help_describe > div:first-child ul li div:first-child {
    width: 60px;
    height: 60px;
  }

  .help_describe > div:last-child {
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
  }
}

@media (max-width: 449px) {
  .help_describe {
    gap: 40px;
  }

  .help_describe > div:first-child {
    line-height: 40px;
  }

  .help_describe > div:first-child ul li {
    gap: 0;
  }
  .help_describe > div:last-child {
    text-align: center;
  }
}

@media (max-width: 380px) {
  .help_describe > div:first-child ul {
    gap: 0px;
  }

  .help_describe > div:first-child ul li {
    margin-bottom: 25px;
  }

  .help_describe > div:first-child {
    line-height: 40px;
  }
  .help_describe > div:last-child {
    text-align: justify;
  }
}
