.preview {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 751px;
  gap: 8px;
  background-image: url(/main_picture.png.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.preview_left {
  width: 50%;
  height: 751px;
  padding: 40px 64px 40px 90px;
  gap: 8px;
  border: 1px;
  background: linear-gradient(
    94.68deg,
    rgba(255, 255, 255, 0.9) 0.97%,
    rgba(255, 255, 255, 0.6) 100%
  );
  border: 1px solid;
  border-image-source: linear-gradient(
    94.73deg,
    rgba(255, 255, 255, 0.16) 0.73%,
    rgba(255, 255, 255, 0.2) 100.65%
  );
}

.preview_left ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 608px;
  gap: 40px;
}

.preview_left ul > li:first-child {
  position: relative;
  left: -67px;
}

.preview_left ul > li:first-child div:first-child {
  position: relative;
  z-index: 999;
  width: 506px;
  height: 328px;
}

.logo_en {
  margin-left: 40px;
}
/*.preview_left ul > li:first-child div:last-child {
  position: absolute;
  z-index: 1;
  left: 355px;
  top: 13px;
  width: 208px;
  height: 208px;
} */
.sunrice,
.sunrice_en {
  position: absolute;
  z-index: -1;
  left: 355px;
  top: 13px;
  width: 208px;
  height: 208px;
}
.sunrice_en {
  top: -8px;
  left: 410px;
}

.preview_left ul > li:nth-of-type(2) {
  font-family: Onest;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5368a7;
}

.preview_left ul > li:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Onest;
  height: 120px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
  gap: 8px;
}

.preview_left ul > li:nth-of-type(3) span {
  font-family: Onest;
  font-weight: 600;
}

.preview_right {
  width: 50%;
  height: 751px;
  padding: 40px 64px 40px 90px;
}

.preview_right > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  height: 608px;
  gap: 40px;
}

.preview_right ul {
  gap: 8px;
  border-radius: 16px;
  border: 1px;
  background: #ffffff99;
  border: 1px solid;
  border-image-source: linear-gradient(
    94.73deg,
    rgba(255, 255, 255, 0.16) 0.73%,
    rgba(255, 255, 255, 0.2) 100.65%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Onest;
  padding: 20px 28px 20px 28px;
  margin: 0 auto;
  height: 151px;
  width: 475px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
  white-space: nowrap;
}

.preview_right ul li:first-child {
  font-weight: 600;
}

.show_on_mobile {
  display: none;
}

@media (max-width: 1024px) {
  .preview {
    background-image: none;
    background-size: none;
    background-repeat: none;
    flex-direction: column;
    width: 100vw;
    height: max-content;
  }

  .preview_left {
    width: 100vw;
    height: auto;
  }

  .preview_right {
    background-image: url(/main_picture.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
    width: 100vw;
    background-position: right center;
  }
}

@media (max-width: 768px) {
  .preview_left ul > li:first-child div:first-child {
    /* width: 385px; */
    width: 100%;
    min-width: 368px;
    max-width: 385px;
    height: 250px;
  }

  .logo_en {
    margin-left: 25px;
  }

  .preview_left ul > li:first-child {
    left: -47px;
  }

  /* .preview_left ul > li:first-child div:last-child {
    left: 65vw;
    width: 150px;
    height: 150px;
  } */
  .sunrice,
  .sunrice_en {
    left: 65vw;
    width: 150px;
    height: 150px;
  }
  .sunrice_en {
    left: 70vw;
  }

  .preview_left ul > li:nth-of-type(2) {
    font-size: 20px;
    line-height: 20px;
  }

  .preview_left ul {
    height: auto;
    gap: 20px;
  }

  .preview_right {
    height: 500px;
  }

  .preview_right > div {
    height: 100%;
  }
}

@media (max-width: 559px) {
  .preview_left {
    padding: 40px 40px;
  }

  .preview_right {
    padding: 40px 20px;
  }
}

@media (max-width: 449px) {
  .preview_right ul {
    height: auto;
    width: max-content;
    font-size: 16px;
    line-height: 20px;
    white-space: wrap;
  }

  .preview_left {
    padding: 40px 20px;
  }

  .logo_en {
    margin-left: 14px;
  }

  .preview_left ul > li:nth-of-type(3) span {
    white-space: nowrap;
  }
}
