.our_suppurt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: #ffffff;
  padding: 34px 90px 34px 90px;
  gap: 8px;
}

.our_suppurt_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.our_suppurt_wrap div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Onest;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.our_suppurt_wrap ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 128px;
  gap: 8px;
}

.our_suppurt_wrap ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 80px;
  padding: 12px 18px 12px 18px;
  gap: 8px;
}
