.our_suppurt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: #ffffff;
  padding: 23px 90px 34px 90px;
  gap: 8px;
}

.our_suppurt_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.our_suppurt_wrap div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Onest;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #393186;
}

.our_suppurt_wrap ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* max-width: 150%; */
  height: 128px;
  gap: 8px;
  animation: marquee 14s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.our_suppurt_wrap ul li {
  position: relative;
}

.our_suppurt_wrap ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  width: 340px;
  height: 80px;
  padding: 15px 18px 12px 18px;
  gap: 8px;
  flex-shrink: 0;
}

/* .our_suppurt_wrap ul li {
  padding: 0 75px;
} */

.our_suppurt_wrap ul li:nth-of-type(1) > div {
  position: relative;
  width: 100px;
  height: 100px;
}

.our_suppurt_wrap ul li:nth-of-type(2) > div {
  position: relative;
  width: 136px;
  height: 48px;
}

.our_suppurt_wrap ul li:nth-of-type(3) > div {
  position: relative;
  width: 74px;
  height: 74px;
}

.our_suppurt_wrap ul li:nth-of-type(4) > div {
  position: relative;
  width: 121px;
  height: 48px;
}

.our_suppurt_wrap ul li:nth-of-type(5) > div {
  position: relative;
  width: 130px;
  height: 56px;
}

.our_suppurt_wrap ul li:nth-of-type(6) > div {
  position: relative;
  width: 176px;
  height: 78px;
}

.our_suppurt_wrap ul li:nth-of-type(7) > div {
  position: relative;
  width: 187px;
  height: 40px;
}

.our_suppurt_wrap ul li:nth-of-type(8) > div {
  position: relative;
  width: 172px;
  height: 40px;
}

/* .our_suppurt_wrap ul li:nth-of-type(9) > div {
  position: relative;
  width: 187.37px;
  height: 40px;
}

.our_suppurt_wrap ul li:nth-of-type(10) > div {
  position: relative;
  width: 64.89px;
  height: 64px;
}

.our_suppurt_wrap ul li:nth-of-type(11) > div {
  position: relative;
  width: 171.53px;
  height: 40px;
} */

@media (max-width: 768px) {
  .our_suppurt_wrap div:first-child {
    font-size: 20px;
    line-height: 30px;
  }
}
