:root {
  --font-onest: "Onest", sans-serif;
  --font-bitter: "Bitter", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-onest);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-onest);
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
