.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 919px;
  padding: 40px 90px;
  gap: 49px;
}

.slider > div:first-child {
  width: 1260px;
  height: 66px;
  font-family: Onest, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #5368a7;
}

.slider_wrap {
  width: 1260px;
  height: auto;
  overflow: hidden;
}

.slider_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: max-content;
  transition: transform 0.3s ease-in-out;
}

.slide {
  height: 540px;
  border-radius: 16px;
  background: #b9b9b9;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 24px;
  color: #ffffff;
  margin: 0 20px;
}

.slide > div {
  width: 590px;
  height: 195px;
  top: 345px;
  padding: 27px 65px;
  gap: 8px;
  border-radius: 16px;
  border: 1px;
  background: #ffffff99;
  border: 1px solid;
  border-image-source: linear-gradient(
    95.91deg,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  font-family: Onest;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303058;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons button {
  width: 80px;
  height: 80px;
  gap: 8px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.buttons button:first-child {
  background-image: url(/left.webp);
}

.buttons button:first-child:hover {
  background-image: url(/left-hover.webp);
}

.buttons button:last-child {
  background-image: url(/right.webp);
}

.buttons button:last-child:hover {
  background-image: url(/right-hover.webp);
}

.buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .slider {
    width: 100vw;
    min-height: auto;
    height: auto;
    padding: 20px;
    gap: 10px;
  }

  .slide {
    margin: 0 1vw;
  }

  .slide > div {
    width: 43vw;
  }

  .slider > div:first-child {
    width: 90vw;
    font-size: 24px;
    line-height: 30px;
  }

  .slider_wrap {
    width: 90vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .slider_wrap {
    width: 92vw;
  }

  .slide {
    height: 50vh;
    width: 90vw;
  }

  .slider > div:first-child {
    text-align: center;
  }

  .slide > div {
    width: 100%;
    height: 40%;
    padding: 20px;
    font-size: 14px;
    line-height: 16px;
  }

  .buttons button {
    width: 45px;
    height: 45px;
  }
}
